.responsive-iframe{
    
    margin: 0 auto;  
    width: 180vh;
    height: 80vh;
    
  }
  
  
  @media only screen and (max-width: 768px) {
    @media only screen and (max-width: 768px) {
        .responsive-iframe {
          width: auto;
        }
      }
  }
  .cal{
    padding: 5rem;
    
  }